<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DataJsonPath" value="F:\Dropbox\ProJecT\IAMPM\BoardGame\2.0\beta\IAMPM\IAMPM\Data"/>
    <add key="DevCardsJson" value="DevCards.json"/>
    <add key="ManCardsJson" value="ManCards.json"/>
    <add key="ProjectOutsourceCardsJson" value="ProjectCards.json"/>
  </appSettings>
</configuration>